body {
	background: #000000;
	font-family: "Trebuchet MS", Arial;
	color: #FFD700;
	margin: 2%;
	text-align: center;
}
header {
	text-align: center;
	color: white;
	text-decoration: none;
	margin: 2%;
}
ul#navlist { 
padding: 0;
margin: 0;
list-style-type: none;
float: left;
width: 100%;
text-align: center;
color: #fff;
background-color: #036;
}
ul#navlist li { display: inline; }
ul#navlist li a
{
float: left;
width: 7em;
color: #fff;
background-color: #036;
padding: 0.2em 1em;
text-decoration: none;
border-right: 1px solid #fff;
}
ul#navlist li a:hover
{
background-color: #369;
color: #fff;
}
h1 {
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}

h2	{
	font-weight: bold;
	font-style: italic;
	color: white;
	text-align: center;
}
a	{
	color: white;
}
/* unvisited link */
a:link {
    color: #7EE0FF;
	text-decoration: none;
}

/* visited link */
a:visited {
    color: green;
	text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
	text-decoration: underline;
}

/* selected link */
a:active {
    color: blue;
	text-decoration: none;
}
figure	{ 
	float: right;
	clear: both;
	text-align: center;
	font-style: italic;
	font-size: 80%;
}
.important {
			font-size: 110%;
			color: white;
			background-color: black;
		}